openapi: 3.0.1
info:
  title: Chimera API
  description: API for chimera upgrade
  version: 1.0.0
servers:
  - url: "https://api.testnet.everclear.org"
  - url: "https://api.everclear.org"

paths:
  /estimates/router-fees:
    get:
      summary: Returns the estimated router fee
      description: Fetches estimated router fees based on provided parameters
      parameters:
        - in: query
          name: origin
          required: true
          schema:
            type: string
        - in: query
          name: destination
          required: true
          schema:
            type: string
        - in: query
          name: amount
          required: true
          schema:
            type: string
        - in: query
          name: asset
          required: TransactionRequest
          schema:
            type: string
        - in: query
          name: originNativeTokenPrice
          required: false
          schema:
            type: string
        - in: query
          name: destinationNativeTokenPrice
          required: false
          schema:
            type: string
        - in: query
          name: priceIn
          required: false
          schema:
            type: string
        - in: query
          name: callDataGasAmount
          required: false
          schema:
            type: number

      responses:
        "200":
          description: Successful response with the estimated router fee
          content:
            application/json:
              schema:
                type: object
                properties:
                  routerFee:
                    type: string
                    format: bigint
        "400":
          description: Invalid inputs or error from Gelato API
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /estimates/quotes:
    get:
      summary: Returns the estimated amount received
      description: Provides estimates of the amount received for a transaction between specified origins and destinations with specified token and amount
      parameters:
        - in: query
          name: origin
          required: true
          schema:
            type: string
        - in: query
          name: destination
          required: true
          schema:
            type: string
        - in: query
          name: originToken
          required: true
          schema:
            type: object
            required:
              - address
              - symbol
            properties:
              address:
                type: string
              symbol:
                type: string

        - in: query
          name: amount
          required: true
          schema:
            type: string
            format: bigint
      responses:
        "200":
          description: Successful response with the estimated amounts
          content:
            application/json:
              schema:
                type: object
                required:
                  - amountReceived
                  - isFastPath
                properties:
                  amountReceived:
                    type: string
                    format: bigint
                  isFastPath:
                    type: boolean
        "400":
          description: Invalid inputs
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /intents:
    get:
      summary: Get intents
      description: Retrieves a paginated list of intents based on query parameters
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            type: string
        - in: query
          name: prevCursor
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          default: 10
        - in: query
          name: statuses
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: origins
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: destinations
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: allDestinations
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: txHash
          required: false
          schema:
            type: string
        - in: query
          name: userAddress
          required: false
          schema:
            type: string
        - in: query
          name: startDate
          required: false
          schema:
            type: string
        - in: query
          name: endDate
          required: false
          schema:
            type: string
        - in: query
          name: asset
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful retrieval of intents
          content:
            application/json:
              schema:
                type: object
                required:
                  - intents
                  - nextCursor
                  - maxCount
                  - prevCursor
                properties:
                  intents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Intent"
                  nextCursor:
                    type: string
                    required: true
                    nullable: true
                  prevCursor:
                    type: string
                    required: true
                    nullable: true
                  maxCount:
                    type: number
                    required: true
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
    post:
      summary: Create new intent
      description: Endpoint to generate a TransactionRequest for a newIntent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - origin
                - destinations
                - to
                - inputAsset
                - amount
                - callData
                - maxFee
              properties:
                origin:
                  type: string
                destinations:
                  type: array
                  items:
                    type: string
                  nullable: false
                to:
                  type: string
                inputAsset:
                  type: string
                amount:
                  type: string
                  format: bigint
                callData:
                  type: string
                maxFee:
                  type: string
                  format: bigint
                permit2Params:
                  type: object
                  properties:
                    nonce:
                      type: string
                      format: bigint
                      description: Nonce as a bigint
                    deadline:
                      type: string
                      format: bigint
                      description: Deadline as a bigint
                    signature:
                      type: string
                  required:
                    - nonce
                    - deadline
                    - signature
      responses:
        "200":
          description: Successful response with a TransactionRequest object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRequest"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "404":
          description: Registries not found and deployed for given domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /intents/{intentId}:
    get:
      summary: Get intent details
      description: Fetches detailed information for a specified intent by its ID
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
            description: The unique identifier for the intent
      responses:
        "200":
          description: Successful retrieval of intent details
          content:
            application/json:
              schema:
                type: object
                required:
                  - intent
                properties:
                  intent:
                    $ref: "#/components/schemas/Intent"
        "400":
          description: Invalid Intent ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
    post:
      summary: Update max fee
      description: Updates the max fee for a specified intent and returns a TransactionRequest object
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
            description: The unique identifier for the intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - maxFee
              properties:
                feeAssetInNative:
                  type: boolean
                  nullable: true
                maxFee:
                  type: string
                  format: bigint
      responses:
        "200":
          description: Successful response with a TransactionRequest object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRequest"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /intents/{intentId}/execute:
    post:
      summary: Execute calldata
      description: The request object for `executeIntentCalldata`, used for self-execution
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
            description: The unique identifier for the intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  type: string
                  description: The domain for the request
      responses:
        "200":
          description: Successful response with a TransactionRequest object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRequest"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /intents/{intentId}/return-unsupported:
    post:
      summary: Return unsupported intent
      description: The request object for `returnUnsupportedIntent` on hub domain
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
            description: The unique identifier for the intent
      responses:
        "200":
          description: Successful response with a TransactionRequest object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRequest"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /invoices:
    get:
      summary: Get invoices
      description: Retrieves a paginated list of invoices in FIFO queue order
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            type: string
        - in: query
          name: prevCursor
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          default: 10
        - in: query
          name: tickerHash
          required: false
          schema:
            type: string
        - in: query
          name: origins
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: destinations
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          name: sortOrderByDiscount
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful retrieval of invoices
          content:
            application/json:
              schema:
                type: object
                required:
                  - invoices
                  - nextCursor
                  - maxCount
                  - prevCursor
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invoice"
                  nextCursor:
                    type: string
                    required: true
                    nullable: true
                  prevCursor:
                    type: string
                    required: true
                    nullable: true
                  maxCount:
                    type: number
                    required: true
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /invoices/{intentId}:
    get:
      summary: Return invoice details
      description: Fetches detailed information for a specified invoice by its intentID
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
            description: The unique identifier for the intent
      responses:
        "200":
          description: Successful retrieval of invoice details
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    $ref: "#/components/schemas/Invoice"
        "400":
          description: Invalid Intent ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /invoices/{intentId}/min-amounts:
    get:
      summary: Calculate minimum amounts needed to settle invoice
      description: Calculates the minimum amounts per destination domain a specified invoice
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
            description: The unique identifier for the invoice intent
      responses:
        "200":
          description: Successful calculation of minimum amounts
          content:
            application/json:
              schema:
                type: object
                required:
                  - invoiceAmount
                  - amountAfterDiscount
                  - discountBps
                  - custodiedAmounts
                  - minAmounts
                properties:
                  invoiceAmount:
                    type: string
                    description: Original invoice amount before discount
                  amountAfterDiscount:
                    type: string
                    description: Amount after applying the discount
                  discountBps:
                    type: string
                    description: Current discount in basis points
                  custodiedAmounts:
                    type: object
                    additionalProperties:
                      type: string
                    description: Map of domain to custodied amount
                  minAmounts:
                    type: object
                    additionalProperties:
                      type: string
                    description: Map of domain to minimum required amount
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /withdraw:
    post:
      summary: Withdraw balance
      description: The request object to `withdraw` from the protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - asset
                - amount
                - domain
              properties:
                asset:
                  type: string
                domain:
                  type: string
                amount:
                  type: string
                  format: bigint
      responses:
        "200":
          description: Successful response with a TransactionRequest object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionRequest"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /configs/assets:
    get:
      summary: Get supported assets
      description: Lists assets supported by the protocol, with pagination and optional filtering by type
      parameters:
        - in: query
          name: page
          required: true
          schema:
            type: integer
        - in: query
          name: limit
          required: true
          schema:
            type: integer
        - in: query
          name: type
          required: false
          schema:
            type: string
            enum:
              - xERC20
              - other
      responses:
        "200":
          description: Successful retrieval of assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Asset"
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /metrics/liquidity-flow:
    get:
      summary: Get liquidity flow metrics
      description: Returns the liquidity flow for all chains, optionally filtered by asset, from_chain, and to_chain.
      parameters:
        - in: query
          name: start_date
          schema:
            type: string
            format: date
          description: The start date for the query (default to the protocol's start date).
        - in: query
          name: end_date
          schema:
            type: string
            format: date
          description: The end date for the query (default to the current date).
        - in: query
          name: tickerHash
          schema:
            type: string
          description: The symbol of the asset for which you want to get liquidity flow (e.g., "WETH", "USDC"). If omitted, returns data for all assets.
        - in: query
          name: origin
          schema:
            type: integer
          description: The originating chain ID. If omitted, returns data for all chains.
        - in: query
          name: destination
          schema:
            type: integer
          description: The destination chain ID. If omitted, returns data for all chains.
      responses:
        "200":
          description: A list of liquidity flows for the specified query parameters.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - asset_symbol
                        - liquidity_flows
                      properties:
                        asset_symbol:
                          type: string
                          description: The symbol of the asset (e.g., "WETH", "USDC").
                        liquidity_flows:
                          type: array
                          items:
                            type: object
                            required:
                              - day
                              - from_chain_id
                              - to_chain_id
                              - total_volume
                              - num_intents
                              - avg_protocol_fee_bps
                              - avg_settlement_time_seconds
                              - avg_discount
                            properties:
                              day:
                                type: string
                                format: date-time
                                description: The day of the liquidity flow data.
                              from_chain_id:
                                type: number
                                description: The ID of the originating chain.
                              to_chain_id:
                                type: number
                                description: The ID of the destination chain.
                              total_volume:
                                type: number
                                format: float
                                description: The total clearing volume for this asset between the specified chains.
                              num_intents:
                                type: number
                                description: The total number of intents for the liquidity flow.
                              avg_protocol_fee_bps:
                                type: number
                                description: The average protocol fee in basis points.
                              avg_settlement_time_seconds:
                                type: number
                                description: The average settlement time in seconds.
                              avg_discount:
                                type: number
                                description: The average discount in basis points.
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /metrics/clearing-volume:
    get:
      summary: Get clearing volume metrics
      description: Returns the total clearing volume for all chains, optionally filtered by date, origin, destination, and ticker hash.
      parameters:
        - in: query
          name: start_date
          schema:
            type: string
            format: date
          description: The start date for the query (defaults to the protocol's start date).
        - in: query
          name: end_date
          schema:
            type: string
            format: date
          description: The end date for the query (defaults to the current day).
        - in: query
          name: origin
          schema:
            type: integer
          description: The originating chain ID. If omitted, returns data for all chains.
        - in: query
          name: destination
          schema:
            type: integer
          description: The destination chain ID. If omitted, returns data for all chains.
        - in: query
          name: tickerHash
          schema:
            type: string
          description: The ticker hash of the asset for which you want to get the clearing volume. If omitted, returns data for all assets.
      responses:
        "200":
          description: A list of clearing volumes for the specified query parameters.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - start_date
                      - end_date
                      - assets
                    properties:
                      start_date:
                        type: string
                        format: date
                        description: The start date of the clearing volume data.
                      end_date:
                        type: string
                        format: date
                        description: The end date of the clearing volume data.
                      assets:
                        type: array
                        items:
                          type: object
                          required:
                            - asset_symbol
                            - total_clearing_volume
                            - total_rebalancing_fees
                            - total_num_intents
                            - details
                          properties:
                            asset_symbol:
                              type: string
                              description: The symbol of the asset (e.g., "WETH", "USDC").
                            total_clearing_volume:
                              type: number
                              format: float
                              description: The total clearing volume for this asset across all chains.
                            total_rebalancing_fees:
                              type: number
                              format: float
                              description: The Rebalancing Fees for this asset across all chains.
                            total_num_intents:
                              type: number
                            details:
                              type: array
                              items:
                                type: object
                                required:
                                  - day
                                  - clearing_volume
                                  - rebalancing_fees
                                  - num_intents
                                  - from_chain_id
                                  - to_chain_id
                                  - total_volume
                                properties:
                                  day:
                                    type: string
                                    format: date-time
                                    description: The specific day of the clearing volume data.
                                  clearing_volume:
                                    type: number
                                    format: float
                                    description: The clearing volume on the specific day.
                                  rebalancing_fees:
                                    type: number
                                    format: float
                                    description: The rebalancing fees on the specific day.
                                  num_intents:
                                    type: integer
                                    description: The total number of intents for the clearing volume on that day.
                                  from_chain_id:
                                    type: integer
                                    description: The ID of the originating chain.
                                  to_chain_id:
                                    type: integer
                                    description: The ID of the destination chain.
                                  total_volume:
                                    type: number
                                    format: float
                                    description: The clearing volume on the specific day.
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string

  /economy/{chain}/{tickerHash}:
    get:
      summary: Get supply and demand information for a specified asset on a chain
      description: Retrieves information about pending demand and supply for a specified asset on a chain, using both contract and database data. Includes details from DepositQ, InvoiceQ, and incoming intents.
      parameters:
        - in: path
          name: chain
          required: true
          schema:
            type: string
          description: The blockchain network identifier.
        - in: path
          name: tickerHash
          required: true
          schema:
            type: string
          description: The asset ticker on the specified chain.
      responses:
        "200":
          description: The current state of the queue and intents.
          content:
            application/json:
              schema:
                type: object
                required:
                  - currentEpoch
                  - invoiceQueue
                  - depositQueue
                  - incomingIntents
                properties:
                  currentEpoch:
                    type: object
                    required:
                      - epoch
                      - startBlock
                      - endBlock
                    properties:
                      epoch:
                        type: integer
                        description: The current epoch calculated from the carry epoch and the current L1 block.
                      startBlock:
                        type: integer
                        description: The starting block of the epoch.
                      endBlock:
                        type: integer
                        description: The ending block of the epoch.
                  invoiceQueue:
                    nullable: true
                    type: array
                    description: List of intents in the invoice queue.
                    items:
                      type: object
                      required:
                        - intentId
                        - amount
                        - owner
                      properties:
                        intentId:
                          type: string
                          description: The identifier of the intent.
                        amount:
                          type: string
                          description: The amount for the intent.
                        owner:
                          type: string
                          description: The owner of the intent.
                  depositQueue:
                    nullable: true
                    type: array
                    description: List of intents in the deposit queue.
                    items:
                      type: object
                      required:
                        - intentId
                        - origin
                        - amount
                      properties:
                        intentId:
                          type: string
                          description: The identifier of the intent.
                        origin:
                          type: integer
                          description: The origin chain identifier.
                        amount:
                          type: string
                          description: The amount for the intent.
                  incomingIntents:
                    type: object
                    nullable: true
                    description: Mapping of chain IDs to their respective incoming intents.
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        required:
                          - intentId
                          - initiator
                          - amount
                        properties:
                          intentId:
                            type: string
                            description: The identifier of the intent.
                          initiator:
                            type: string
                            description: The initiator of the intent.
                          amount:
                            type: string
                            description: The amount for the intent.
        "400":
          description: Invalid chain or asset parameter.
        "500":
          description: Internal server error.

  /history/{intentId}:
    get:
      summary: Get history of intent processing
      description: Retrieves detailed history of a specific intent, including epochs and details of processing as deposit and invoice.
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
          description: Unique identifier for the intent.
      responses:
        "200":
          description: Successful response with queue and intent state information.
          content:
            application/json:
              schema:
                type: object
                required:
                  - hubProcessedEpoch
                  - depositEnqueued
                  - matchedInvoices
                  - invoiceEnqueued
                  - matchedDeposits
                  - settlementEnqueued
                  - depositDetails
                properties:
                  hubProcessedEpoch:
                    type: integer
                    description: The epoch that the hub processed.
                    example: 100
                  depositEnqueued:
                    type: object
                    nullable: true
                    required:
                      - epoch
                      - amount
                    properties:
                      epoch:
                        type: integer
                        description: Epoch in which the intent became a deposit.
                        example: 100
                      amount:
                        type: integer
                        description: Amount of deposit minus protocol fees.
                        example: 999
                  matchedInvoices:
                    type: array
                    items:
                      type: object
                      required:
                        - invoiceIntentId
                        - invoiceRemainingAmount
                        - depositRewards
                      properties:
                        invoiceIntentId:
                          type: string
                          description: ID of the invoice intent.
                          example: "0x11"
                        invoiceRemainingAmount:
                          type: number
                          description: Remaining amount for the invoice.
                          example: "0"
                        depositRewards:
                          type: number
                          description: Rewards provided to depositors for this invoice.
                          example: "500"
                  invoiceEnqueued:
                    type: object
                    nullable: true
                    required:
                      - epoch
                      - amount
                    properties:
                      epoch:
                        type: integer
                        description: Epoch in which the intent became an invoice.
                        example: 101
                      amount:
                        type: integer
                        description: Amount for the invoice, adjusted for fees and rewards.
                        example: 399
                  matchedDeposits:
                    type: array
                    items:
                      type: object
                      required:
                        - depositIntentId
                        - invoiceRemainingAmount
                        - depositRewards
                      properties:
                        depositIntentId:
                          type: string
                          description: ID of the deposit intent.
                        invoiceRemainingAmount:
                          type: number
                          description: Remaining amount for the invoice.
                        depositRewards:
                          type: number
                          description: Rewards provided to depositors for this deposit.
                  settlementEnqueued:
                    type: object
                    nullable: true
                    required:
                      - epoch
                      - amount
                    properties:
                      epoch:
                        type: integer
                        description: Epoch in which the intent became a settlement.
                        example: 100
                      amount:
                        type: integer
                        description: Settlement amount after adjusting for fees, rewards, and discounts.
                        example: 999
                  depositDetails:
                    type: object
                    nullable: true
                    required:
                      - amountAfterFees
                      - rewards
                      - selectedDestination
                      - isSettled
                    properties:
                      amountAfterFees:
                        type: integer
                        description: Amount of deposit after fees are deducted.
                      rewards:
                        type: integer
                        description: Rewards for the depositor.
                      selectedDestination:
                        type: integer
                        description: Selected destination for the deposit (null if not applicable).
                        example: 97
                      isSettled:
                        type: boolean
                        description: Indicates if the deposit is settled.
        "400":
          description: Invalid intentId parameter.
        "404":
          description: Intent not found.
        "500":
          description: Internal server error.

  /history/{intentId}/invoice-processing:
    get:
      summary: Get history of invoice processing
      description: Retrieves detailed history of a specific invoice, including epochs and details of processing as deposit and invoice.
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
          description: Unique identifier for the intent.
        - in: query
          name: cursor
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Successful response with history of invoice processing
          content:
            application/json:
              schema:
                type: object
                required:
                  - invoiceProcessingHistory
                  - nextCursor
                properties:
                  invoiceProcessingHistory:
                    type: array
                    description: Array containing history records of invoice processing.
                    items:
                      type: object
                      required:
                        - epoch
                        - domain
                        - custodiedAssets
                        - amountToBeDiscounted
                        - rewardsForDepositors
                        - amountAfterDiscount
                        - discountdbps
                        - selectedDestinationDomain
                        - selectedDestinationDomainLiquidity
                        - timestamp
                      properties:
                        epoch:
                          type: integer
                          description: Epoch in which the processing took place.
                        domain:
                          type: integer
                          description: Domain identifier for the processing step.
                        custodiedAssets:
                          type: number
                          format: float
                          description: Total assets custodied during the epoch.
                        amountToBeDiscounted:
                          type: number
                          format: float
                          description: Amount of assets subject to discount.
                        rewardsForDepositors:
                          type: number
                          format: float
                          description: Rewards allocated for depositors.
                        amountAfterDiscount:
                          type: number
                          format: float
                          description: Total amount after applying discounts.
                        discountdbps:
                          type: integer
                          description: Discount basis points applied.
                        selectedDestinationDomain:
                          type: integer
                          description: Selected destination domain for the intent.
                        selectedDestinationDomainLiquidity:
                          type: number
                          format: float
                          description: Liquidity available in the selected destination domain.
                        timestamp:
                          type: string

                  nextCursor:
                    type: string
                    nullable: true
        "400":
          description: Invalid chain or asset parameter.
        "500":
          description: Internal server error.

# Response schemas for request
components:
  schemas:
    TransactionRequest:
      type: object
      properties:
        to:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
        nonce:
          type: string
          format: bigint
        gasLimit:
          type: string
          format: bigint
        gasPrice:
          type: string
          format: bigint
        data:
          type: string
          format: byte
        value:
          type: string
          format: bigint
        chainId:
          type: integer
        type:
          type: integer
          nullable: true
        accessList:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
              storageKeys:
                type: array
                items:
                  type: string
          nullable: true
        maxPriorityFeePerGas:
          type: string
          format: bigint
          nullable: true
        maxFeePerGas:
          type: string
          format: bigint
          nullable: true
        customData:
          type: object
          additionalProperties: true
          nullable: true
        ccipReadEnabled:
          type: boolean
          nullable: true
      required:
        - to
        - data
        - chainId

    Asset:
      type: object
      required:
        - local
        - adopted
        - canonical_id
        - canonical_domain
        - domain
        - key
        - id
        - decimal
        - adopted_decimal
      properties:
        local:
          type: string
          maxLength: 66
        adopted:
          type: string
        canonical_id:
          type: string
          maxLength: 66
        canonical_domain:
          type: string
          maxLength: 66
        domain:
          type: string
        key:
          type: string
        id:
          type: string
        decimal:
          type: number
        adopted_decimal:
          type: number

    ProtocolConfig:
      type: object
      required:
        - config
      properties:
        config:
          type: string
          maxLength: 66

    IntentStatus:
      type: string
      enum:
        - NONE
        - ADDED
        - ADDED_SPOKE
        - ADDED_HUB
        - DEPOSIT_PROCESSED
        - FILLED
        - ADDED_AND_FILLED
        - INVOICED
        - SETTLED
        - SETTLED_AND_COMPLETED
        - SETTLED_AND_MANUALLY_EXECUTED
        - UNSUPPORTED
        - UNSUPPORTED_RETURNED
        - DISPATCHED_HUB
        - DISPATCHED_SPOKE
        - DISPATCHED_UNSUPPORTED

    Invoice:
      type: object
      required:
        - intent_id
        - owner
        - entry_epoch
        - amount
        - discount
        - origin
        - destinations
        - ticker_hash
        - hub_invoice_enqueued_timestamp
        - discountBps
      properties:
        intent_id:
          type: string
          description: "A string representing the intent ID"
        owner:
          type: string
          description: "Invoice owner address"
        entry_epoch:
          type: integer
          format: int64
          description: "The epoch when the invoice was created"
        amount:
          type: string
          description: "Amount of the invoice"
        discountBps:
          type: integer
          format: int64
          description: "The current discount of the invoice in BPS"
        origin:
          type: string
        destinations:
          type: array
          items:
            type: string
        hub_status:
          $ref: "#/components/schemas/IntentStatus"
          description: "The status of the intent on Hub domain"
          nullable: true
        ticker_hash:
          type: string
        hub_invoice_enqueued_timestamp:
          type: string

    Intent:
      type: object
      properties:
        intent_id:
          type: string
          description: "A string representing the intent ID"
        queue_idx:
          type: integer
          format: int64
          description: "Queue index"
        message_id:
          type: string
          description: "A string representing the message ID"
        status:
          $ref: "#/components/schemas/IntentStatus"
          description: "The status of the intent"
        receiver:
          type: string
          description: "Receiver address"
        input_asset:
          type: string
          description: "Input asset"
        output_asset:
          type: string
          description: "Output asset"
        origin_amount:
          type: string
          description: "Origin amount"
        destination_amount:
          type: string
          nullable: true
          description: "Destination amount"
        origin:
          type: string
          description: "Origin address"
        destinations:
          type: array
          items:
            type: string
            description: "Destination address"
        nonce:
          type: integer
          format: int64
          description: "Nonce"
        transaction_hash:
          type: string
          description: "Transaction hash (intent_created tx hash)"
        receive_tx_hash:
          type: string
          nullable: true
          description: "Receive transaction hash"
        intent_created_timestamp:
          type: integer
          format: int64
          description: "Intent Created timestamp"
        settlement_timestamp:
          type: integer
          format: int64
          nullable: true
          description: "Receive timestamp"
        intent_created_block_number:
          type: integer
          format: int64
          description: "Intent created block number"
        receive_blocknumber:
          type: integer
          format: int64
          nullable: true
          description: "Receive block number"
        tx_origin:
          type: string
          description: "Transaction origin address"
        tx_nonce:
          type: integer
          format: int64
          description: "Transaction nonce"
        auto_id:
          type: integer
          format: int64
          description: "Auto-generated identifier"
        max_fee:
          type: string
          description: "Maximum fee"
        call_data:
          type: string
          nullable: true
          description: "Call data"
        filled:
          type: boolean
          nullable: true
          description: "Filler address"
        initiator:
          type: string
          nullable: true
          description: "Initiator address"
        origin_gas_fees:
          type: string
          description: "Origin gas fees"
        destination_gas_fees:
          type: string
          nullable: true
          description: "Destination gas fees"
        hub_settlement_domain:
          type: string
          description: "Settlement domain for an intent"
          nullable: true
        ttl:
          type: number
          description: "TTL set for an intent"
          nullable: true
      required:
        - intent_id
        - queue_idx
        - message_id
        - status
        - receiver
        - input_asset
        - output_asset
        - origin_amount
        - origin
        - destinations
        - nonce
        - data
        - transaction_hash
        - intent_created_timestamp
        - intent_created_block_number
        - tx_origin
        - tx_nonce
        - auto_id
        - max_fee
        - origin_gas_fees
        - ttl
